# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/
.env

# IDE specific files
.idea/
.vscode/
*.sublime-*

# Project specific
*.pkl
*.h5
*.model
instance/

# Logs
*.log
logs/

# OS specific
.DS_Store
Thumbs.db
